#img-section {
    background-image: url("./img/landing-bg.webp");
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}