{% load static tailwind_tags %}

{% block css %}
{% endblock %}

<html>
    <head>
        <title>Bag of holding</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
            <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
            <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
            {% tailwind_css %}
    </head>

    {% block content %}

    {% endblock %}
</html>