{% extends '_base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'user/user.css' %}">
{% endblock %}


{% block content %}
    <body class="grid md:grid-cols-5 grid-cols-1">
        <section id="img-section" class="hidden md:col-span-4 md:order-last md:block"></section>
        <section id="login-section" class="bg-[var(--main)] grid grid-rows-12">
            <h1 class="bg-[var(--pal-orange)] text-[[var(--pal-orange)] p-8 text-2xl hover:cursor-pointer">BAG OF HOLDING</h1>
            <div class="form grid self-center row-span-10">
                {% include 'user/login_form.html' %}
            </div>
        </section>
    </body>
{% endblock %}

