@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main: #7895a0;
    --secondary: #ff834f;
    --neutral-li: #f8f7e5;
    --neutral-da: #1d1d1d;

    --pal-blue: #7895a0;
    --pal-orange: #ff834f;
    --pal-green-da: #5e7466;
    --pal-pink: #d397b1;
    --pal-red: #b47172;
    --pal-green-bri: #7ecf86;
    --pal-green-li: #87947d;
    --pal-yellow: #f9Af42;

}

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }

    .custom-scrollbar::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--neutral-li);
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
  }