{% extends '_base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<body class="bg-[var(--main)] leading-normal tracking-normal text-[var(--neutral-da)]">
    {% include 'header.html' %}
    <main class="grid align-center p-8 m-8">
        <div class="py-3 justify-self-end min-w-2xl">
            <div class="flex gap-4 w-full">
                <label class="sr-only">{% trans 'Search' %}</label>
                    <form action="{% url 'inventory_index' %}" method="get" class="flex gap-4 w-96 cursor-pointer">
                      <input type="text" name="search_term" id="hs-table-with-pagination-search"
                           class="py-2 px-3 ps-9 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:z-10
                           focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                           placeholder="{% trans 'Search for items' %}">
                        <button type="submit" class="transition ease-in-out bg-[var(--secondary)] p-4 w-fit text-[(--neutral-da)]  hover:bg-[var(--neutral-li)] hover:-translate-y-1 duration-300 font-semibold rounded-lg" onclick="searchItem()">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
            </div>
        </div>
        <div class="overflow-auto custom-scrollbar">
            <table class="min-w-full divide-y divide-gray-200 table-fixed">
                <thead class="bg-[var(--secondary)]">
                    <tr>
                        <th scope="col" class="py-3 px-4 pe-0">
                            <div class="flex items-center h-5">
                                <input id="hs-table-pagination-checkbox-all" type="checkbox" class="border-gray-200 rounded
                                text-[var(--secondary)] focus:ring-[var(--secondary)]">
                                <label for="hs-table-pagination-checkbox-all" class="sr-only">Checkbox</label>
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-[var(--neutral-da)] uppercase">{% trans 'Name' %}</th>
                        <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-[var(--neutral-da)] uppercase">{% trans 'Rarity' %}</th>
                        <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-[var(--neutral-da)] uppercase">{% trans 'Price' %}</th>
                        <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-[var(--neutral-da)] uppercase">{% trans 'Description' %}</th>
                        <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-[var(--neutral-da)] uppercase">{% trans 'Acquisition date' %}</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                {% for item in object_list %}
                    {% if item.is_available%}
                        <tr class="hover:bg-gray-100 cursor-pointer" onclick="toggleDetails(this)">
                            <td class="py-3 ps-4">
                                <div class="flex items-center h-5">
                                    <input id="hs-table-pagination-checkbox-1" type="checkbox" class="border-gray-200 rounded
                                    text-[var(--secondary)] focus:ring-[var(--secondary)]" onclick="event.stopPropagation()">
                                    <label for="hs-table-pagination-checkbox-1" class="sr-only">Checkbox</label>
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">{{ item.name|default:"??" }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{ item.get_rarity_display|default:"-" }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                <div class="price-holder flex gap-4">
                                     <div class="gp-holder flex gap-2 items-center">
                                         <div class="coin-holder w-[1rem]" >
                                            <img src="{% static 'inventory/img/gp_nobg.svg' %}"  alt="gold coin">
                                         </div>
                                         {{item.price.gp|default:"-"}}
                                     </div>
                                    <div class="gp-holder flex gap-2 items-center">
                                         <div class="coin-holder w-[1rem]" >
                                            <img src="{% static 'inventory/img/sp_nobg.svg' %}"  alt="silver coin">
                                         </div>
                                         {{item.price.sp|default:"-"}}
                                     </div>
                                    <div class="gp-holder flex gap-2 items-center">
                                         <div class="coin-holder w-[1rem]" >
                                            <img src="{% static 'inventory/img/cp_nobg.svg' %}"  alt="copper coin">
                                         </div>
                                         {{item.price.cp|default:"-"}}
                                     </div>
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 max-w-[200px] overflow-hidden text-ellipsis" title="{{ item.description|default:'No data' }}">{{ item.description|default:"No data" }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{ item.acquisition_date|default:"Anaenis" }}</td>
                        </tr>
                        <tr class="details-row hidden">
                            <td colspan="6" class="px-6 py-4">
                                <!-- Additional details can be added here -->
                                <p>Additional details for {{ item.name }}</p>
                            </td>
                        </tr>
                    {% endif %}
                {% empty %}
                    <tr>
                        <td colspan="7" class="text-center text-[var(--neutral-li)] py-4">{% trans 'Ups, looks like your party is broke!' %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'inventory/pagination.html' %}
        </div>
    </main>
    <script src="{% static 'inventory/js/inventory.js' %}"></script>
    <script>
        const CSRF_TOKEN = '{{ csrf_token }}'
    </script>
</body>
{% endblock %}

