{% extends '_base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
    <body class="bg-[var(--main)] leading-normal tracking-normal text-[var(--neutral-da)]">
    {% include 'header.html' %}
    <main class="flex items-center justify-center align-center p-8 m-8">
        <table id="items-table">
            <thead>
                <th>{% trans 'Item' %}</th>
                <th>{% trans 'Rarity' %}</th>
            </thead>
            <tbody>
            {% for item in object_list %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.rarity}}</td>
            </tr>
            {% endfor%}
            </tbody>
        </table>
    </main>
    </body>
{% endblock %}
